<!DOCTYPE html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1> Employee Logged in :ERS</h1>

    <%=user.name %><br>
    <%=user.email %><br>
   Designation: <%=user.usertype %><br>
    <!-- <%=user._id%> -->
</body>
</html>